<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="row">
    <div class="col-8 offset-1">
      <br /><br />
      <h3>Add New Place</h3>
      <form method="post" action="/places">
        <div>
          <label for="title" class="form-label">Name of the Place:</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="title"
            class="form-control"
            required
          />
        </div>
        <br />
        <div>
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
        </div>

        <br />
        <div>
          <label for="entry_fee" class="form-label">Entry Fee</label>
          <input
            type="number"
            name="listing[entry_fee]"
            placeholder="Fee"
            class="form-control"
            required
          />
        </div>
        <br />
        <div>
          <label for="nearest_railway_station" class="form-label"
            >Nearest railway station</label
          >
          <input
            type="text"
            name="listing[nearest_railway_station]"
            placeholder="Station name"
            class="form-control"
            required
          />
        </div>
        <br />
        <div>
          <label for="image" class="form-label">Image Url</label>
          <input
            type="text"
            class="form-control"
            name="listing[image]"
            placeholder="Upload the url of image"
          />
        </div>
        <br />
        <div class="row">
          <div class="col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              class="form-control"
              name="listing[location]"
              placeholder="Location"
              required
            />
          </div>
          <br />
          <div class="col-md-4">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              class="form-control"
              name="listing[country]"
              placeholder="country"
              required
            />
          </div>
        </div>
        <br />
        <button class="btn btn-dark addbtn">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
